<!-- Profile Page -->

<img src="<%= @profile.avatar_url %>">
<p><%= @profile.name %></p>
<p><%= @profile.birthday %></p>
<p><%= @profile.gender %></p>
<p><%= @profile.country.name %></p>
<blockquote><%= @profile.description %></blockquote>