<!-- Show a diary entry -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%= @diary_entry.title %>
    	<a href="/languages/<%= @diary_entry.language.id %>"><span class="label label-primary"><%= @diary_entry.language.name %></span></a>
		</h3>
  </div>

  <div id="diary-entry-content" class="panel-body entry-content">
    <%= @diary_entry.content %>
  </div>

  <div class="panel-footer">
  	Written by <a href="/profiles/<%= @diary_entry.author.id %>"><%= @diary_entry.author.name %></a> on <%= format_date @diary_entry.created_at %>
    <form action="/diary_entries/<%= @diary_entry.id %>/like" method="post" class="form-inline">
      <input type="hidden" name="source" value="<%= request.path %>">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"><%= @diary_entry.likes.count %></button>
        <button class="btn<%= " btn-primary" if @diary_entry.likes.find { |like| like.profile == current_user.profile } %>" type="submit"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
      </div>
    </form>
  </div>
</div>

<!-- Correct Entry Button -->
<button id="correction-button" class="btn btn-primary">Correct Entry</button>

<!-- Correction Form -->
<div class="row">
  <form id="correction-form" action="/diary_entries/<%= @diary_entry.id %>/corrections" method="post" class="form-horizontal">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <textarea class="form-control" rows="12" cols="80" id="correction-form-content" name="correction[content]"></textarea>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button type="submit" class="btn btn-success">Correct</button>
      <button id="cancel-correction-button" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>

<!-- Corrections -->
<h3>Corrections</h3>

<div id="corrections-container">
<% @diary_entry.corrections.sort_by { |correction| correction.created_at }.each do |correction| %>
  <%= erb :'diary_entries/_entry', locals: { correction: correction } %>
<% end %>
</div>
